<!DOCTYPE html>

<head>
  <title>Become Admin</title>
  <link rel="stylesheet" href="/form.css">
</head>

<body>
  <h2>Become an Admin</h2>
  <%- include("errors.ejs") %>
  <div class="text">Enter the secret code to gain admin status!</div>
  <form action="/join/admin" method="POST">
    <div class="info-item">
      <label for="secret">Secret Code:</label>
      <input type="text" name="secret" id="secret" required>
    </div>

    <div class="actions">
      <button type="submit">Join</button>
      <a href="/" class="navigation">Back to home</a>
    </div>
  </form>
</body>

</html>