<!DOCTYPE html>
<html lang="en">

<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/item.css">
</head>

<body>
  <% if (user) { %>
  <h1>Welcome back, <%= user.first_name %> </h1>
  <div class="actions">
    <a href="/create/message" class="button large-width">Create a new message</a>
    <% if (user.status_id === 1) { %>
    <a href="/join" class="button small-width">Join the Club</a>
    <% } %>
    <% if (user.status_id !== 3) { %>
    <a href="/join/admin" class="button small-width">Become Admin</a>
    <% } %>
    <a href="/logout" class="button small-width">Log out</a>
  </div>
  <h2>Community Messages</h2>
  <div class="messages">
    <% messages.forEach( message => { %>
    <%- include('item', {message: message, status_id: user.status_id}); %>
    <% }); %>
  </div>
  <% } else { %>
  <h1>Welcome to Clubhouse</h1>
  <div class="actions">
    <a class="button" href="/create/user">Sign up</a>
    <a class="button" href="/login">Login</a>
  </div>
  <h2>Community Messages</h2>
  <div class="messages">
    <% messages.forEach( message => { %>
    <%- include('item', {message: message, status_id: 0}); %>
    <% }); %>
  </div>

  <% } %>

</body>

</html>