<!DOCTYPE html>
<html lang="en">

<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/index.css">
</head>

<body>
  <% if (user) { %>
  <h1>Welcome back, <%= user.first_name %> </h1>
  <div class="actions">
    <% if (user.status_id !== 2) { %>
      <a href="/join" class="button">Join the Club</a>
    <% } %>
    <a href="/logout" class="button">Log out</a>
  </div>
  
  <% } else { %>
  <h1>Welcome to Clubhouse</h1>
  <div class="actions">
    <a class="button" href="/create/user">Sign up</a>
    <a class="button" href="/login">Login</a>
  </div>
  <% } %>

</body>

</html>