body {
    text-align: center;
    padding: 8px;
    background-color: #F2EBE6;
}

h1 {
    color: #373839;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.item {
    width: 50vw;
    border: 1px solid #8DAAA0;
    border-radius: 8px;
    padding: 8px;
    color: #F87218;
}

.navigation {
    border: 1px solid #BCD0CA;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #BCD0CA;
    color: #373839;
}

a {
    text-decoration: none;
}