.message {
    border: 1px solid #8DAAA0;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 90vw;
}

.header {
    display: flex;
    align-items: center;
    gap: 48px;
    justify-content: space-between;
}

.left {
    font-size: 20px;
    font-weight: bold;
}

.right {
    display: flex;
    gap: 4px;
    align-items: center;
}

.message-text {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    text-align: start;
}

.delete {
    width: 20px;
    height: 20px;
}